* {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.04rem;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #124ba0, #083477);
  position: relative;
}

.section-form {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 3rem;
  box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 5rem;
}

h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #fcfcfc;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form a {
  color: #0b377a;
}

.form-group {
  border-bottom: 1px solid #0b377a;
  padding: 1rem 0.7rem 0.3rem 0.2rem;
  transition: 0.3s ease;
  position: relative;
}

.form-group.active-focus {
  transform: scale(1.1);
  animation: border-animate 0.3s forwards;
}

.form-group i {
  margin-right: 0.5rem;
  color: #0b377a;
}

.view {
  top: 18px;
  right: 0;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.form-group input {
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  outline: none;
  color: #0b377a;
}

.form-group input::placeholder {
  color: #0b377a;
  font-weight: bold;
}

.form a {
  float: right;
  font-size: 0.755rem;
  font-weight: bold;
  margin-top: -1rem;
}

.form a:hover {
  color: #0b377a;
}

.btn {
  border: 0;
  outline: none;
  padding: 1rem 0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease;
}

.btn-login {
  width: 100%;
  background: #092f68;
  text-align: center;
  font-size: 1.2rem;
  color: #fcfcfc;
  transition: 0.5s ease;
}

.btn-login:hover {
  animation: bg-hover 1s ease alternate both;
  transform: scale(0.955);
  background: #072655;
}

.btn-back {
  background: #d7d7d8;
  padding: 1rem;
  font-size: 0.8rem;
  color: #2c2c2c;
  display: flex;
  margin-top: 2rem;
  align-self: flex-end;
}

.btn-back:hover {
  filter: brightness(80%);
  transform: scale(0.965);
}

@keyframes border-animate {
  from {
    border-bottom: 1px solid #0b377a;
    border: 1px solid transparent;
    border-radius: 0;
  }

  to {
    border: 1px solid #0b377a;
    border-radius: 10px;
    padding: 1rem 0.7rem 0.7rem 0.5rem;
  }
}

.invalid-input {
  border-color: #ca4536;
}

.valid-input {
  border-color: #47ca36;
}

.error-msg {
  margin-top: -0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.725rem;
  color: red;
  font-weight: bold;
  visibility: hidden;
  margin-bottom: 1rem;
}

.error-msg.visible {
  visibility: visible;
}

.copyright {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  justify-items: flex-end;
  font-size: 0.8rem;
  font-weight: lighter;
  color: #f5f5f5;
}
