@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.04rem;
}

.navbar {
  padding: 10px 200px;
  background-color: #0b377a;
  display: grid;
  grid-template-columns: 250px auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand img {
  margin-right: 1rem;
}

.brand p {
  font-weight: lighter;
  font-style: italic;
  color: #fff;
}

.login ul li {
  display: inline-block;
  margin-right: 1rem;
}

.login ul li a {
  color: #fff;
  font-size: 1rem;
  transition: 0.5s ease;
}

.login ul li a:hover {
  color: #e4edfa;
}

.login ul li:last-child {
  background-color: #ffffff;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  transition: 0.5s ease;
  color: #072655;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0;
}

.login ul li:last-child:hover {
  background-color: #e4edfa;
}

.sign-in-section {
  padding: 20px 200px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: end;
}

.btn-afrerj,
.btn-amafrerj {
  width: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 0.6rem;
  font-size: 0.8rem;
  color: #fff;
  transition: 0.5s ease;
}

.btn-afrerj {
  background-color: #092f68;
}

.btn-afrerj:hover {
  background-color: #072655;
  transform: scale(0.985);
}

.btn-amafrerj {
  background-color: #00a100;
}

.btn-amafrerj:hover {
  background-color: #008000;
  transform: scale(0.985);
}

.header {
  padding: 40px 200px 80px 200px;
  background: url(../img/cristo-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.title-section {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0 0 1rem 0;
  color: #0b377a;
}

.title-section::after,
.title-section::before {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #0b377a;
  margin: 0.5rem auto;
  transform: skewX(40deg);
}

.grid-news {
  display: grid;
  grid-template-columns: 800px 1fr;
  grid-gap: 20px;
  position: relative;
}

.carousel-slide {
  width: 100%;
  height: auto;
}

.carousel-slide img {
  width: 100%;
  height: 470px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.carousel-dots {
  position: absolute;
  bottom: 70px;
  left: 32%;
}

.carousel-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #e85d04;
  border-radius: 50%;
  margin-right: 10px;
}

.aside-news {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.alt-title {
  color: #fff;
}

.alt-title::after,
.alt-title::before {
  background-color: #ffffff;
}

.news {
  width: auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.news:hover {
  transform: scale(0.975);
}

.news img {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.news-content {
  padding: 0.8rem;
}

.news .categoria {
  display: block;
  background-color: #00a100;
  width: 90px;
  padding: 4px;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 5px;
  font-weight: lighter;
  color: #fff;
}

.news .data-new {
  font-size: 0.7rem;
}

.news-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.title-link {
  color: #f48c06;
}

.news-link {
  font-size: 0.9rem;
  font-weight: lighter;
  color: #f48c06;
}

.title-link:hover,
.news-link:hover {
  color: #e85d04;
}

.news p {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
}

.all-news {
  display: flex;
  justify-content: flex-end;
  color: #f48c06;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.all-news:hover {
  color: #e85d04;
  text-decoration: underline;
}

.section-amafrerj {
  background-color: #fafafa;
  padding: 30px 200px 80px 200px;
}

.h3-amafrerj {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.nav-amafrerj li {
  display: inline-block;
  text-align: center;
}

.nav-amafrerj li a {
  color: #fff;
  padding: 0.9rem;
  background-color: #00a100;
  transition: 0.5s ease;
  border-radius: 10px;
}

.nav-amafrerj li a:hover {
  background-color: #008000;
}

.info-amafrerj {
  width: 100%;
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-gap: 20px;
}

.section-info-amafrerj img {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.duvidas-info-grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.duvidas-info-amafrerj {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.duvidas-info-amafrerj h4 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #00a100;
  margin-bottom: 1rem;
}

.duvidas-info-amafrerj div {
  display: grid;
  justify-content: start;
  grid-gap: 20px;
  grid-template-columns: auto auto;
}

.duvidas-info-amafrerj i {
  font-size: 3rem;
}

.duvidas-info-amafrerj p {
  display: block;
  max-width: 200px;
}

.duvidas-info-amafrerj a {
  display: block;
  margin-top: 1rem;
  color: #00a100;
}

.duvidas-info-amafrerj a:hover {
  color: #008000;
}

.afrerj-section {
  padding: 80px 180px;
  background-color: #fcfcfc;
}

.afrerj-section-info {
  display: grid;
  grid-template-columns: 700px 300px;
  justify-content: space-between;
  grid-gap: 20px;
}

.afrerj-section-sobre h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #092f68;
  margin-bottom: 2rem;
}

.afrerj-section-sobre p {
  margin-bottom: 1rem;
}

.afrerj-section-sobre a {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
}

.afrerj-section-servicos h4 {
  font-size: 1.2rem;
  color: #092f68;
  margin-bottom: 2rem;
  text-align: center;
}

.afrerj-section-servicos ul li {
  display: block;
  padding: 1rem;
  background-color: #092f68;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  font-size: 0.8rem;
  transition: 0.5s ease;
}

.afrerj-section-servicos ul li:hover {
  background-color: #072655;
  transform: scale(0.985);
}

.afrerj-section-convenios h3 {
  margin: 3rem 0;
  font-size: 1.2rem;
  color: #092f68;
}

.parcerias-nav li {
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  background-color: #f48c06;
  border: 2px solid #e85d04;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.parcerias-nav li:hover {
  background-color: #e85d04;
}

.parcerias-list section {
  background-color: #ffffff;
  padding: 2rem;
  margin-top: 2rem;
  display: none;
}

.parcerias-list section.active {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  justify-content: space-between;
  animation: fadeInTop 0.5s ease forwards;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.parceria {
  width: 200px;
}

.parceria img {
  display: block;
  margin: 0 auto;
}

.parcerias-list section {
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.contatos {
  padding: 80px 180px;
  background-color: #0b377a;
}

.contatos .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.form-contatos {
  width: 100%;
}

.form-contatos label,
select {
  display: block;
}

.form-contatos label {
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 1rem 0;
  color: #fcfcfc;
}

.form-contatos input,
textarea {
  box-sizing: border-box;
}

.form-contatos input,
select,
textarea {
  width: 100%;
  height: 50px;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}

.form-contatos input::placeholder,
textarea::placeholder {
  color: #344763;
  font-size: 0.9rem;
}

.form-contatos select {
  color: #344763;
}

.form-contatos option {
  padding: 2rem;
}

.form-contatos textarea {
  height: 150px;
}

.form-contatos input:focus,
select:focus,
textarea:focus {
  background-color: #e4edfa;
}

.form-contatos .btn {
  margin-top: 1rem;
  float: right;
}

.h3-footer {
  font-size: 1.5rem;
  margin: 4rem 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.grid-contatos {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-between;
  grid-gap: 20px;
}

.social-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.social-card .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #0b377a;
  margin: 0 auto 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-card .icon i {
  font-size: 2.5rem;
  color: #fff;
}

.social-card h4 {
  font-size: 1.2rem;
  text-align: center;
  color: #092f68;
  font-weight: bold;
}

.social-card a {
  font-size: 1rem;
  text-align: center;
  color: #092f68;
  font-weight: bold;
  margin-top: 1rem;
}

.social-card a:hover {
  text-decoration: underline;
  color: #0b377a;
}

.footer {
  padding: 60px 180px;
  background-color: #072655;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-gap: 40px;
  justify-content: space-between;
}

.footer img {
  width: 70px;
}

.footer h5 {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

.footer h5::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: 0.5rem 0;
  transform: skewX(40deg);
}

.section-menu-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-menu-footer li {
  padding: 0.6rem 0;
}

.section-menu-footer li a {
  color: #fff;
  transition: 0.3s ease;
}

.section-menu-footer li a:hover {
  color: #344763;
}

.section-social-footer ul {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 1.6rem;
}

.section-social-footer li a {
  background-color: #fff;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #092f68;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.section-social-footer li:nth-child(1) a:hover {
  color: #fff;
  background-color: #0b377a;
  font-size: 2rem;
}

.section-social-footer li:nth-child(2) a:hover {
  color: #fff;
  background-color: #b30ab3;
  font-size: 2rem;
}

.section-social-footer li:nth-child(3) a:hover {
  color: #fff;
  background-color: #0ab32f;
  font-size: 2rem;
}
